@use "../../styles/placeholders" as *;
@use "../../styles/variables" as *;

.containerStyling {
  background-color: $grey;
  padding: 6vw;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18vw;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    padding: 6vw 4vw;
    gap: 6vw 4vw;
    margin: auto;
  }

  @media screen and (min-width: 1025px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: min-content;
        gap: 2vw;
        grid-auto-flow: dense;
    }
  
}
